<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<link href="/styles/home/home.css" rel="stylesheet">
<head th:insert="global/layout :: header">...</head>
<body th:insert="global/layout :: upperNav">...</body>

<!-- Full Page Image Header with Vertically Centered Content -->
<!--<div class="masthead">-->
<body>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="our-team-main">

                            <div class="team-front">
                                <img src="http://placehold.it/110x110/9c27b0/fff?text=Dilip" class="img-fluid"/>
                                <br><br>
                                <h3>Yeni Kredi Başvurusunda Bulun</h3>
                                <br><br>
                            </div>

                            <div class="team-back">
                                <br>
                                <p>Kredi başvurusunda bulunmak için bu seçeneği kullanmalısınız.</p>
                                <br>
                                <p><b>(Yalnızca yeni kullanıcılar için geçerlidir.)</b></p>
                                <br>
                                <p>İlerlemek için <a href="/credit/insert">Tıklayınız</a></p>
                                <br><br>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="our-team-main">

                            <div class="team-front">
                                <img src="http://placehold.it/110x110/336699/fff?text=Dilip" class="img-fluid"/>
                                <br><br>
                                <h3>Kredi Başvurunu Güncelle</h3>
                                <br><br>

                            </div>

                            <div class="team-back">
                                <br>
                                <p>Kredi başvurunuzu güncellemek veya iptal etmek için bu seçeneği kullanmalısınız.</p>
                                <br>
                                <p><b>(Yalnızca kayıtlı kullanıcılar için geçerlidir.)</b></p>
                                <br>
                                <p>İlerlemek için <a href="/credit/search">Tıklayınız</a></p>
                                <br><br>
                            </div>

                        </div>
                    </div>

<!--                    <div class="col-lg-4">-->
<!--                        <div class="our-team-main">-->

<!--                            <div class="team-front">-->
<!--                                <img src="http://placehold.it/110x110/607d8b/fff?text=Dilip" class="img-fluid"/>-->
<!--                                <br><br>-->
<!--                                <h3>Kredi Başvurunu İptal Et</h3>-->
<!--                                <br><br>-->

<!--                            </div>-->

<!--                            <div class="team-back">-->
<!--                                <br>-->
<!--                                <p>Kredi başvurunuzun iptali için bu seçeneği kullanmalısınız.</p>-->
<!--                                <br>-->
<!--                                <p><b>(Yalnızca kayıtlı kullanıcılar için geçerlidir.)</b></p>-->
<!--                                <br>-->
<!--                                <p>İlerlemek için <a href="/credit/search">Tıklayınız</a></p>-->
<!--                                <br><br>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->


                </div>
            </div>
        </div>
    </div>
</body>
<!--</div>-->
